html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#main{
  background-image: url(../images/maya.png);
  min-height: 15vh;
  background-attachment: fixed;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: white;
}

body{
  background-color: #c9c9c9;
  font-size: 18px;
  font-family: sans-serif;
  margin: 8px;
  padding: 0;
  color: black;
  padding-bottom: 100px;
}

.headshot img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.mc img{
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 10%;
  height: 10%;
  padding-top: 10px;
}

h1{
  background-color: #c9c9c9;
  color: black;
  font-size: 2em;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav li{
  display: contents;
  padding-right:20px;
}

nav a{
  color: black;
  display: inline-block;
  padding: 2px 1px;
  background-color: white;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none; 
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}

nav li a:active { 
  color: white;
  background: #00008B;
  text-decoration: overline underline;
}

nav .current {
  color: white;
  background: #00008B;
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

  position: absolute;
  top: -40px;
}

.skip a:focus{
  top: 0px;
}

a{
  font-size: 16px;
  color: black;
  text-decoration-line: underline;
  text-decoration-style: wavy; 
}

*:focus{
  border: 3px #00008B dashed;
}

nav:focus{
  border: 2px solid black;
}

nav{
  background-color: #89cff0;
  padding: 25px 0; 
  text-align: center;
  padding-left: 10px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  min-height: 75px;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  padding-top: 10px;
}

.pic-container{
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: hidden;
}

.pics{
  border: 5px solid white;
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.flowers, .ny, .scout {
  grid-row: 1 / auto;
}

.colorado, .sorority, .family {
  grid-row: 2 / auto;
}

.bigHouse, .mill, .ktp {
  grid-row: 3 / span 1;
}

.flowers, .colorado, .bigHouse {
  grid-column: 1 / auto;
}

.ny, .sorority, .mill {
  grid-column: 2 / auto;
}

.scout, .family, .ktp {
  grid-column: 3 / auto;
}

.headshot p, .pic-container{
  background-color: rgba(137, 207, 240, .8);
  border: 5px solid white;
  padding: 10px;
  vertical-align: middle;
  margin: 10px;
}

#link{
  color: white;
  text-decoration-style: solid; 
}

#blurb{
  margin-top: 25vh;
}

.flip-card {
  display: block;
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:focus-within .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  position: absolute;
  background-color: #89cff0;
  color: white;
  transform: rotateY(180deg);
}

@-webkit-keyframes grow{
  from {transform: scale(1);}
  to {transform: scale(1.5)}
}

@keyframes grow{
  from {transform: scale(1);}
  to {transform: scale(1.5)}
} 

.pics:hover{
  filter: opacity(50%);
}

.pics:active{
  animation-name: grow;
  animation-iteration-count: initial;
  animation-duration: 1s;
  filter: opacity(100%);
}

 /* RESUME STYLE */
 table{
  border: 2px solid #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.colhead{
  background-color: white;
  color: black;
  min-width: 50px;
  padding: 1px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.rowhead{
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

td{
  text-align: center;
  vertical-align: center;
  border-top: 2px solid #000000;
  padding: 1px;
}

tr:nth-child(even) {
  background-color: rgba(255,255,255,.8);
}

tr:nth-child(odd) {
  background-color: rgba(201,201,201,.8);
}

tr:hover{
  background-color: rgba(0, 0, 139, 0.25);
}

*:focus{
  border: 3px #00008B dashed;
}

.container1, .container2{
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.2fr 1fr;
}

#usglove, #telefund{
  grid-column: 1 / auto;  
  grid-row: 1 / auto;   
}

.res_img1, .res_img2 {
  width: 100%;
  margin: 0 auto;
}

.usglove-img, .telefund-img {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  align-items: center;
}
.usglove-text, .telefund-text {
  grid-column: 1 / auto;
  grid-row: 3 / span 1;
}

.text-block, .education, .extracurriculars, .skills, .additional{
  background-color: rgba(137, 207, 240, .8);
  border: 5px solid white;
  padding: 10px;
  vertical-align: middle;
  margin: 10px;
}

.education p, .extracurriculars p, .skills p, .additional p {
  padding-left: 20px;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h2{
  padding-left: 10px;
}

h3{
  padding: 10px;
  text-align: left;
}

.pictures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 5px;
}

.more_pictures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10px;
}

.old{
  width: 80%;
}

/* CONTACT */
form {
  background-color: rgba(137, 207, 240, .8);
  border: 5px solid white;
  padding: 30px;
  vertical-align: middle;
  width: 80%;
  margin-top: 50px;
}

legend {
  font-size: 125%;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

input:focus {
  border: 2px solid #00008B;
  background-color: #d1d1d1;
  color: white;
}

label {
  display: inline-block;
  margin-right: 5px;
  width: 15%;
}

input {
  width: 100%;
  padding: 12 px 20 px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

span {
  margin-left: 20%;
  font-family: italic;
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox]{
  display: inline;
  width: inherit;
}

input[type=submit]{
  background-color: #00008B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover{
  opacity: 0.8;
}

@-webkit-keyframes colors{
  from {background-color: #89cff0;}
  to {background-color: #00008B}
}

@keyframes colors{
  from {background-color: #89cff0;}
  to {background-color: #00008B}
}

.gallery {
  display: grid;
  animation: colors 5s infinite alternate;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  grid-row-gap: 5px;
  margin-top: 20px;
  background-color: rgba(137, 207, 240, .8);
  border: 5px solid white;
  padding: 30px;
  vertical-align: middle;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.jpn, .golf, .gym {
  grid-row: 1 / auto;
  width: 90%;
  border: 3px solid #f1f1f1;
}

.view, .cabo, .walk {
  grid-row: 2 / auto;
  width: 90%;
  border: 3px solid #f1f1f1;
}

@media screen and (min-width: 768px) {
  form{
      width: 80%;
      margin: 50px auto;
  }

  input {
      width: 80%;
  }
  
  textarea {
      width: 80%;
      height: 25vh;
  }

  div + label {
      line-height: 25vh;
      vertical-align: top;
  }

  #main{
    background-image: url(../images/maya.png);
    min-height: 30vh;
    background-attachment: fixed;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: white;
    overflow-x: hidden;
  }

  nav a{
    color: black;
    display: inline-block;
    padding: .5em .75em;
    background-color: white;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none; 
  }

  table{
    border: 2px solid #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .colhead{
    background-color: white;
    color: black;
    min-width: 125px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }
  
  .rowhead{
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
  }
  
  td{
    text-align: center;
    vertical-align: middle;
    border-top: 2px solid #000000;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: rgba(255,255,255,.8);
  }
  
  tr:nth-child(odd) {
    background-color: rgba(201,201,201,.8);
  }
  
  tr:hover{
    background-color: rgba(0, 0, 139, 0.25);
  }

  .mc img{
    display: block;
    margin-left: 0;
    text-align: left;
    width: 10%;
    height: 10%;
    padding-top: 10px;
  }

  nav li{
    display:inline;
    padding-right:20px;
  }

  nav{
    background-color: #89cff0;
    padding: 25px 0; 
    text-align: right;
    padding-left: 10px;
  }

  .text-block, .education, .extracurriculars, .skills, .additional{
    background-color: rgba(137, 207, 240, .8);
    border: 5px solid white;
    padding: 30px;
    vertical-align: middle;
    margin: 50px;
  }

  .headshot p, .pic-container {
    background-color: rgba(137, 207, 240, .8);
    border: 5px solid white;
    padding: 30px;
    vertical-align: middle;
    margin: 50px;
  }

  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    min-height: 75px;
    background:#000000;
    text-align:center;
    color: #FFFFFF;
    padding-top: 10px;
  }

  #blurb {
    margin-top: 350px;
  }

  .container1, .container2{
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto;
  }

  #usglove, #telefund{
    grid-column: 1 / -1;  
    grid-row: 1 / auto;   
  }

  .res_img1, .res_img2 {
    width: 80%;
  }

  .usglove-img, .telefund-img {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .usglove-text, .telefund-text {
    grid-column: 2 / auto;
    grid-row: 1 / span 1;
  }
}

@media screen and (min-width: 850px) {
  #main{
    background-image: url(../images/maya.png);
    min-height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: white;
  }

  #blurb {
    margin-top: 600px;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  html{
    scroll-behavior: auto; 
  }
  .pics:active {
    animation: none;
  }
  .skip a{
    -webkit-transition: none; 
    transition: none;        
   }

  .gallery{
    animation: none;
  }

  header{
    background-attachment: initial;
  }

}

@media print { 
  #main {
    background-image: none;
    display: none;
  }

  .flip-card-back {
    display: none;
  }

  .flip-card-front {
    display: block;
  }

  #photo_gallery {
    display: none;
  }

  .pic-container {
    display: none;
  }

  #blurb {
    margin-top: 350px;
  }
}